<h2 mat-dialog-title>Order Info</h2>
<mat-divider></mat-divider>
<div class="current-info">
    <div>
        <div>
            <p><strong>Order:</strong> {{ data.orderName }}</p>
        </div>
        <div>
            <p><strong>Status:</strong>: {{ data.orderStatus }}</p>
        </div>
    </div>
    <div>
        <div>
            <p><strong>Planned Date:</strong> {{ data.currentDate }}</p>
        </div>
        <div>
            <p><strong>Line:</strong> {{ data.currentLine }}</p>
        </div>
    </div>
</div>
<mat-dialog-actions style="justify-content: center;">
    <button mat-flat-button color="primary" (click)="onCloseClick()" cdkFocusInitial>Close</button>
</mat-dialog-actions>